.pagination {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;

}

.pagination_item {
    background-color: lightgrey;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    height: 200px;
    box-sizing: border-box;
}



.pagination_control_container {
    display: flex;
    margin-left: auto;
    padding: 20px;
    gap: 10px;
}

.active {
    font-weight: 600;
}

.pagination_control_button {
    font-size: 20px;
    cursor: pointer;
}