.pagination {
    display: flex;
    flex-direction: column;


}

.pagination_item {
    background-color: lightgrey;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    min-height: 140px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Circular Std, sans-serif;
    transition: .2s ease-in-out;
    border: 1px solid grey;
    z-index: 1;
}

.pagination_item.disabled {
    background-color: white;
}

.pagination_control_container {
    display: flex;
    margin-left: auto;
    padding: 20px;
    gap: 10px;
}

.active {
    font-weight: 600;
}

.pagination_control_button {
    font-size: 20px;
    cursor: pointer;
}



.checkbox {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    background-color: white;
}

.checkbox:checked {
    background-color: #6b99ff;
}

.track_name {
    font-weight: 600;
}

@media only screen and (min-width: 700px) {
    .track_name {

        font-size: 24px;
    }

    .track_image > img {
        width: 75px;
        height: 75px;
    }
}

@media only screen and (max-width: 700px) and (min-width: 400px) {
    .track_name {
        font-size: 20px;
    }

    .track_image > img {
        width: 75px;
        height: 75px;
    }
}

@media only screen and (max-width: 400px) {
    .track_name {

        font-size: 16px;
    }

    .track_image > img {
        width: 30px;
        height: 30px;
    }
}

