@media screen and (max-width: 480px) {
    .home_body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
    }

    .home_text > div:first-child {
        font-size: 20px;
    }
    .home_text > div:first-child {
        font-size: 24px;
        max-width: 700px;
        padding-top: 30px;
        text-align: center;
    }

    .home_text {

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 481px) {

    .home_body {
        margin-top: 10rem;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
    }
    .home_text {

        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .home_text > div:first-child {
        font-size: 32px;
        max-width: 700px;
        padding: 20px;
        text-align: center;
    }
}

.home_text {
    font-weight: 900;
    font-family: Circular Std, sans-serif;
}

