@media screen and (max-width: 480px) {
    .home_body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
    }

    .home_text > div:first-child {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 481px) {

    .home_body {
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
    }


    .home_text > div:first-child {
        font-size: 3rem;
        max-width: 700px;
    }

    .home_text > div:nth-child(2) {
        font-size: 2em;
        margin-top: 20px;
    }


}

.home_text > div:nth-child(2) {
    color: white;

}

.home_body {
    margin-top: 10rem;
    display: flex;
    box-sizing: border-box;
}

.home_text {

    font-weight: 900;
    font-family: Circular Std, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home_charts {
    background-color: black;
    color: white;
}


